    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
    - cron: '26 8 * * *'
